* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 450ms;

}

body {
    text-align: center;
    font-family: "Inconsolata", sans-serif;

}




.container {
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

section::after {
    content: "";
    display: block;
    clear: both;
}


/* typography 
=================*/

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin: 1em;
    color: #000;
    text-transform: uppercase;
    position: relative;
    text-shadow:
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 1000ms infinite;
}


.title span {
    font-weight: 900;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.title span:first-child {
    animation: glitch 650ms infinite;
    color: rgb(10, 2, 22);

    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.05em, -0.025em);
    opacity: 0.8;
}

.title span:last-child {
    animation: glitch 700ms infinite;

    color: rgb(17, 9, 9);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.01em, 0.025em);
    opacity: 0.8;
}


@keyframes glitch {
    0% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -.025em 0 rgba(10, 12, 10, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -.025em 0 rgba(12, 15, 12, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow:
            -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(21, 29, 21, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
        text-shadow:
            -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(14, 17, 14, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow:
            0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.5em 0 0 rgba(9, 12, 9, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow:
            0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.5em 0 0 rgba(51, 28, 158, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow:
            -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(32, 25, 95, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}




@media (min-width:60rem) {
    .title {
        font-size: 3.7rem;
    }
}



/* header
================*/

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 3em;

}

nav ul {
    transform: translateX(-120%);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: transform 0.5s;
    position: absolute;
}

.nav-ul.show {
    transform: translateX(0);
    padding-left: 1em;
    padding-top: 1em;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5em;
    color: #6F69AC;
}


nav a:hover,
nav a:focus {
    color: rgb(184, 110, 129);
}

/* Hamburger styles 
======================= */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s ease-in-out;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.menu-btn_burger {
    padding-right: 25px;

    height: 5px;
    background: rgb(20, 16, 56);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    background: rgb(20, 16, 56);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-10px);


}

.menu-btn_burger::after {
    transform: translateY(10px);


}

/* animation */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);

}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);

}



@media (min-width:60rem) {

    .menu-btn {
        display: none;
    }

    nav ul {
        display: flex;

    }

    nav {
        float: right;
    }

    nav a {
        font-size: 1.2rem;
    }






}


/* home section
================== */



.home-section {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;

}

@media (min-width: 60rem) {
    .home-section {
        height: 100vh;
        padding-top: 30vh;
    }

}


/* ABOUT ME SECTION 
======================= */

.about {

    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    height: max-content;



}

.about .about-content .left {
    width: 45%;

}

.about .about-content .left img {
    position: relative;
    left: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 0.5em;
}

.about .about-content .right {
    width: 55%;
    margin-left: 25%;
    margin-top: 20%;
}

.about .about-content .right .text {
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(39, 24, 24);
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75);

}

.about p {
    font-size: 1.2rem;
    font-family: "Inconsolata", sans-serif;
    font-weight: 600;
    color: rgb(39, 24, 24);
    padding-bottom: 3em;
    padding-top: 3em;
    text-shadow: 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.about-me-title {
    font-size: 3rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    padding-top: 1em;
    color: #000;
    text-transform: uppercase;
    position: relative;
    text-shadow:
        0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}


@media (min-width: 60rem) {

    .about {
        height: 100vh;
    }

    .about .about-content .right {
        width: 55%;
        padding-left: 25%;

    }

    .about .about-content .left img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
        float: left;
        position: absolute;
        top: 125%;
        left: 12%;
    }

    .about-me-title {
        padding: 1em;
    }

    .about .about-content .right .text {
        font-size: 2rem;
        font-weight: 800;
        color: #000;
        position: absolute;
        top: 130%;
        left: 40%;
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75)
    }

    .about p {
        font-size: 1.5rem;
        font-family: "Inconsolata", sans-serif;
        font-weight: 600;
        padding-top: 5em;
        color: #000;
        text-shadow:
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
}


/* ArtSection
================ */

.second-art .first-art{
    display: flex;
}

.first-art img{
    width: 100%;
    float: left;
}

.first-art-text{
    font-size: 2.5em;
    padding-top: 77%;
    padding-bottom: 11%
}

.first-art-text h1{
    text-shadow:
    0.25em 0.25em 0 rgba(41, 34, 34, 0.75);
}

.first-art-text h2{
    padding-top: 2%;
    font-size: 2rem;
    text-shadow:
    0.25em 0.15em 0 rgba(41, 34, 34, 0.75);
}

.second-art img{
    width: 100%;
    float: left;
}

.second-art-text{
    font-size: 2.5em;
    padding-top: 83%;
    padding-bottom: 11%
}

.second-art-text h1{
    text-shadow:
    0.025em 0.05em 0 rgba(85, 49, 131, 0.75),
    0.25em 0.025em 0 rgba(49, 131, 120, 0.75),
    0.045em 0.5em 0 rgba(71, 49, 131, 0.75),
    0.5em 0.25em 0 rgba(172, 13, 13, 0.75);
}

.second-art-text h2{
    padding-top: 2%;
    font-size: 2rem;
    text-shadow:
    0.025em 0.05em 0 rgba(85, 49, 131, 0.75),
    0.25em 0.025em 0 rgba(49, 131, 120, 0.75),
    0.045em 0.5em 0 rgba(71, 49, 131, 0.75),
    0.5em 0.25em 0 rgba(172, 13, 13, 0.75);
}


.third-art img{
    width: 100%;
    float: left;
}

.third-art-text{
    font-size: 2.5em;
    padding-top: 77%;
    padding-bottom: 11%
}

.third-art-text h1{
    text-shadow:
    0.25em 0.25em 0 rgba(167, 30, 30, 0.75);
}

.third-art-text h2{
    padding-top: 2%;
    font-size: 2rem;
    text-shadow:
    0.25em 0.15em 0 rgba(167, 30, 30, 0.75);
}
.fourth-art img{
    width: 100%;
    float: left;
}

.fourth-art-text{
    font-size: 2.5em;
    padding-top: 77%;
    padding-bottom: 11%
}

.fourth-art-text h1{
    text-shadow:
    0.25em 0.25em 0 rgba(255, 251, 36, 0.75),
        0.5em 0.055em 0 rgba(150, 9, 9, 0.75);
}

.fourth-art-text h2{
    padding-top: 2%;
    font-size: 2rem;
    text-shadow:
    0.25em 0.25em 0 rgba(120, 36, 255, 0.75),
        0.5em 0.055em 0 rgba(9, 98, 150, 0.75);;
}

@media (min-width: 60rem){
    .second-art .first-art .third-art{
        display: flex;
    }
    
    .first-art img{
        width: 66%;
        float: left;
    }
    
    .first-art-text{
        font-size: 2.5em;
        padding-top: 10%;
    }
    
    .first-art-text h1{
        text-shadow:
        0.25em 0.25em 0 rgba(41, 34, 34, 0.75);
    }
    
    .first-art-text h2{
        padding-top: 2%;
        font-size: 2rem;
        text-shadow:
        0.25em 0.15em 0 rgba(41, 34, 34, 0.75);
    }
    
    .second-art img{
        width: 66%;
        float: left;
    }
    
    .second-art-text{
        font-size: 2.5em;
        padding-top: 10%;
    }
    
    .second-art-text h1{
        text-shadow:
        0.025em 0.05em 0 rgba(85, 49, 131, 0.75),
        0.25em 0.025em 0 rgba(49, 131, 120, 0.75),
        0.045em 0.5em 0 rgba(71, 49, 131, 0.75),
        0.5em 0.25em 0 rgba(172, 13, 13, 0.75);
    }
    
    .second-art-text h2{
        padding-top: 2%;
        font-size: 2rem;
        text-shadow:
        0.025em 0.05em 0 rgba(85, 49, 131, 0.75),
        0.25em 0.025em 0 rgba(49, 131, 120, 0.75),
        0.045em 0.5em 0 rgba(71, 49, 131, 0.75),
        0.5em 0.25em 0 rgba(172, 13, 13, 0.75);
    }

    .third-art img{
        width: 66%;
        float: left;
    }
    
    .third-art-text{
        font-size: 2.5em;
        padding-top: 10%;
    }
    
    .third-art-text h1{
        text-shadow:
        0.25em 0.25em 0 rgba(167, 30, 30, 0.75);
    }
    
    .third-art-text h2{
        padding-top: 2%;
        font-size: 2rem;
        text-shadow:
        0.25em 0.15em 0 rgba(167, 30, 30, 0.75);
    }
    .fourth-art img{
        width: 66%;
        float: left;
    }
    
    .fourth-art-text{
        font-size: 2.5em;
        padding-top: 10%;
    }
    
    .fourth-art-text h1{
        text-shadow:
        0.25em 0.25em 0 rgba(160, 255, 36, 0.75),
        
        0.5em 0.055em 0 rgba(255, 153, 36, 0.75);
    }
    
    .fourth-art-text h2{
        padding-top: 2%;
        font-size: 2rem;
        text-shadow:
        0.25em 0.25em 0 rgba(120, 36, 255, 0.75),
        0.5em 0.055em 0 rgba(9, 98, 150, 0.75);
    }
}


.projects-section{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    height: max-content;
}

.row{
    display: flex;
}

.row img{
    width: 30%;
    padding-top: 50%;
    cursor: pointer;
}

.row h3{
    padding-top: 5%;
    font-size: 2.5rem;
    font-weight: 800;
}

.row p{
    font-size: 1.2rem;
    padding-top: 3%;
    font-weight: 600;
    
}

.tinder-project h3{
    color: #cf74a2ef;
}

.drums-project h3{
    color: #5C969E;
}

.shoes-project {
    padding-bottom: 10%;
}

.crafts-project h3{
    
    color: #da76a8;
}

.shoes-project h3 {
    color: #5C969E;
}

.tinder-project, .crafts-project p{
    color: #5C969E;
}

.drums-project, .shoes-project p{
    color: #cf74a2ef;
}




@media (min-width: 60rem) {

.projects-section{
   
    height: 100vh
}    

.row{
    display: flex;
}

.row img{
    width: 30%;
    padding-top: 50%;
    cursor: pointer;
}

.row h3{
    padding-top: 5%;
    font-size: 2.5rem;
    font-weight: 800;
    
}

.row p{
    font-size: 1.2rem;
    padding-top: 3%;
    font-weight: 600;
}

.shoes-project{
    padding-bottom: 0;
}
}

